body {
    background: #000;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
 }

#cougar {
         background: #FFD5AE;
         
}

#lion   {
        background: #FFBD82;
        
}
#tiger  {
         background: #B26219;
}

section, article > p { 
                     text-align: left;
                     float: right;
}

article { 
         
          width: 35%;
          padding: 50px;
          margin-top: 140px;
          float: right;
}
div {
     float: left;
     margin: 50px;
   }
h1 {
     color: #fff; 
     text-align:left;
      margin: 30px;
}

h2 {   
         padding: 10px;
         color: #000;
         text-align: left;
         font-size: 300%;
         margin: 30px;
}

header {
        width: 100%;
        padding: 20px;
        background: #666;
        text-align: center;
        float: right;
        margin-left: 10px;
}

footer {
         background: #666;
         padding: 1em;
         text-align: center;
}




/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #379CB2;}
a:hover { color: #82E8FF; }


nav {
     float: right;
     }
nav ul {
      list-style: none;
}
nav li {
      float: left;
      margin-left: 20px;
      }